.video-screen{
    width: 25%;
    height: 25%;
    background-color: #C4C4C4;
}

#Zoom{
    display: block;
    top:100px;
    right:20px;
    width: 500px;
    height: 500px;
    position: absolute;

}

h3{
    text-align: left;
    margin-left: 15%;
}