#mainDiv{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    height: 100vh;
}
#leftcolumn{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-content: space-around;

}
#mainLeft{
    background-color: aliceblue;
    width: 33vw;
}

#mainRight{
    background-color: grey;
    width: 66vw;
}
#logo{
    z-index: 2;
    box-shadow: 2px 4px 20px 2px black;
    text-align:left;
    height: 100%;
    width: 100%;
}
.rotated-border {
    box-sizing: border-box;   
    border-top: 15px #eb311f solid;
    border-bottom: 15px #eb311f solid;
}

.bot{
    z-index: 1;
    transform: rotate(45deg);
    box-shadow: 0 30px 20px -20px #eb311f,
    0 -30px 20px -20px #eb311f, 
    inset 0 20px 15px -15px #eb311f,
    inset 0 -20px 15px -15px #eb311f;

}
.top{
    z-index: 3;
    transform: rotate(135deg);
    box-shadow: 0 30px 20px -20px #eb311f,
    0 -30px 20px -20px #eb311f, 
    inset 0 20px 15px -15px #eb311f,
    inset 0 -20px 15px -15px #eb311f;
}

.design {
    position: relative;
    height: 10em;
    width: 10em;
    left: 5vw;
    
}

.design > * { 
    text-align:left;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 5vh;
}


